.menu{

}

.ads{
    height: 20px;
}
.ads2{
    height: 20px;
    padding-top: 125px;
}

.content{
    display: flex;
    padding:20px 300px 0 300px;
    flex-direction: column;
}

.boxes{
    display: flex;
    margin-top: 10px;
}

.boxes h3{
    padding-left: 100px;
    margin-bottom: 10px;
}


.translaterText{
    padding-left: 30px;
}

.button {
    border: none;
    color: white;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 10px 0 0 50px;
    cursor: pointer;
}
.content h1{
    color: #008CBA;
    padding: 0 110px;
}


.button2 {background-color: #008CBA;}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.more{
    margin: 30px 30px;
}

.more h1{
    color: #008CBA;
    padding: 20px 120px;
}

.more-2{
    margin: 30px 30px;
}

.more-2 h1{
    color: #008CBA;
    padding: 20px 120px;
}

.space{
    height: 300px;

}


.drop h3{
    padding: 5px;
}


.drop{
    display: flex;
    margin: 10px;

}

.active, .btnn:hover {
    background-color: #666;
    color: white;
}

.btnn {
    background-color: #e5ece5; /* Green */
    border: 1px solid #494f49;
    color: #1a1818;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.copyTo{
    border: none;
    width: 100%;
    color: white;
    height: 35px;
    cursor: pointer;
    background-color:#008CBA ;
}

.recorrect{
    text-align: center;
    background-color: rgba(0,0,0,0.1);
}


.btnnAct{
    background-color: #666; /* Green */
    border: 1px solid #494f49;
    color: #1a1818;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.pagination{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .content{
        padding: 220px 0 0 0;

    }

    .content h1{
        padding: 0 100px 0 5px ;
    }

    .boxes{
        display: flex;
        flex-direction: column;

    }

   .translaterText{

        padding-right: 50px;

        padding-left: 0px;
    }

    .button .button2{

    }

    .more-2 h1{
        padding: 0px;
    }

    .more h1{
        padding: 0px;
    }







}
